.profile-container {
    display: flex0;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    background-color: rgb(69, 32, 32);
}